{% extends 'FOSUserBundle::layout.html.twig' %}
{% block fos_user_content %}
    <div class="row">
        <div class="col s12 l6 offset-l3">
            {% include "FOSUserBundle:Profile:edit_card.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .mdl-textfield {
            width: 100%;
        }
    </style>
{% endblock %}