{% extends "::base_skeleton.html.twig" %}
{% block body_content %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
                <a href="#!" data-activates="navigation-drawer" class="button-collapse"><i
                            class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% block user_menu %}
                        {% if app.user %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <i class="material-icons left">account_circle</i>Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="material-icons left">exit_to_app</i> Logout
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    Login
                                </a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
                <ul class="side-nav" id="navigation-drawer">
                    {{ block('user_menu') }}
                </ul>

            </div>
        </nav>
    </header>
    <main>
        <!-- Your content goes here -->
        <div class="container">
            {% block page_content %}{% endblock page_content %}
        </div>
    </main>
{% endblock body_content %}
