<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Tub{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/vendor/material-design-lite/material.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block stylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset('assets/vendor/material-design-lite/material.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
