<div class="card white hoverable">
    <div class="card-content black-text">
        <span class="card-title">{% block card_title %}Card Title{% endblock card_title %}</span>
        {% block card_content %}{% endblock card_content %}
    </div>
</div>