{% extends '::tub_base.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col s12 l6 offset-l3">
            {% include 'TubBundle:OAuth:oauth_client_update_card.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@TubBundle/Resources/public/js/oauth_client_form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock scripts %}