{% extends '::base.html.twig' %}
{% block page_content %}
    <div class=row">
        <div class="col s12 l6 offset-l3">
            {% include 'TubBundle:Period:list_card.html.twig' %}
        </div>
    </div>
{% endblock page_content %}