{% extends "::tub_base.html.twig" %}
{% block page_content %}
    <div class="row">
        <div class="col s12 l6 offset-l3">
            {% include 'TubBundle:Line:create_card.html.twig' %}
        </div>
    </div>
{% endblock page_content %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@TubBundle/Resources/public/js/jscolor.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock scripts %}