{% extends '::base.html.twig' %}
{% block page_content %}

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Colored FAB button -->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red" href="{{ path('line_path_create') }}">
                <i class="large material-icons">add</i>
            </a>
        </div>
    {% endif %}
    <div class=row">
        <div class="col s12 l6 offset-l3">
            {% include 'TubBundle:LinePath:list_card.html.twig' %}
        </div>
    </div>
{% endblock page_content %}