<ul class="collection with-header">
    <li class="collection-header"><h4>OAuth</h4></li>
    <li class="collection-item">
        <div>OAuth Index<a href="{{ path("oauth_index") }}" class="secondary-content"><i class="material-icons">link</i></a></div>
    </li>
</ul>
<ul class="collection with-header">
    <li class="collection-header"><h4>Periods</h4></li>
    <li class="collection-item">
        <div>Period List<a href="{{ path("period_list") }}" class="secondary-content"><i class="material-icons">link</i></a></div>
    </li>
    <li class="collection-item">
        <div>Period Create<a href="{{ path("period_create") }}" class="secondary-content"><i class="material-icons">link</i></a></div>
    </li>
</ul>