{% extends "::tub_base.html.twig" %}
{% block title %}Tub{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col s12 l6 offset-l3">
            {% include "TubBundle:default:index_card.html.twig" %}
        </div>
    </div>
{% endblock %}
